.feed {
  padding: 0.5rem;
  padding-top: 5rem;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.second_header {
  margin-bottom: 1.5rem;
  font-family: sans-serif;
  background-color: #ea9a9a;
  display: inline-block;
  padding: 0.4rem 1.2rem;
}

@media (max-width: 285px) {
  .feed {
    padding: 10px;
  }
  .second_header {
    padding: 0.4rem 0.5rem;
    font-size: 15px;
  }
}
